@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Martel:wght@400;700&family=Montserrat:wght@400;700&family=Shizuru&display=swap');

:root {
    --primary-color:
        #c084fc;
    --secondary-color: #faf5ff;
    --ow-section: #f3e8ff;
    --hero-heading:
        #475569;



}

body {
    font-family: 'Marcellus', serif;
    font-size: 20px;
    color: #334155;
    background-color: var(--secondary-color);
    margin: 0rem;
}

.container {
    padding: 0rem 0.5rem;
}

.container-center {
    margin: 0rem auto;
    max-width: 600px;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color)
}

.link-secondary {
    border: solid 1px var(--primary-color);
    border-radius: 0.5rem;
    color: var(--primary-color)
}

.link-container {
    padding: 1rem;
    text-align: center;

}


hr {
    margin: 2rem 0rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.list-no-bullets {
    padding-inline-start: 0px;
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.section {
    padding: 2rem 0rem 3rem;
}

.section h1 {
    text-align: center;
    margin: 1.5rem 0rem 1rem;
}

.section-small {
    font-size: 15px;
}

.section p {
    text-align: center;
}


.section-ow {
    background-color: var(--ow-section);
}

.navigation {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0rem 0.25rem;
    border-bottom-left-radius: 1rem;
    border-bottom: 4px solid #6b21a8;

}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .link {
    color: var(--secondary-color);
}

.navigation .nav-pills {
    text-align: right;
    font-size: 25px;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem 0rem;
}

.hero-image {
    margin: auto;
    display: block;
    max-width: 350px;
}

.hero-heading {
    font-weight: bold;
    color: var(--hero-heading);
    padding-top: 1rem;
    text-align: center;
}

.hero .hero-heading .hero-heading-inverted {
    color: var(--primary-color)
}

.hero p {
    text-align: center;
    color: var(--hero-heading);
    font-weight: bolder;
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius: 1rem;
    border-top: 4px solid #6b21a8;
    color: var(--secondary-color);
    margin-left: 0rem;

}

.footer-header {
    font-size: larger;
    font-weight: bold;
}

.footer .link {
    color: var(--secondary-color);
}

.footer ul {
    padding-inline-start: 0px;
}


.link:hover {
    color: #292524;
    text-shadow: 1.5px 1px 0.5px white;
}

.link-secondary:hover {
    color: black;
    text-shadow: 1.5px 1px 0.5px #d8b4fe;
}